@import url(style.css);

.contact_box{
	height: 70vh;
    display: flex;
	flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.contact{
	border: 1px solid black;
    padding: 5px 30px;
	font-size: 41px;
	font-weight: bold;
	color: var(--primary-color);
	text-decoration: none;
}
.contact:hover{
	color: var(--primary-color);
}